.navbar-brand {
    font-family: 'Faster One', cursive;
    font-size: 1.5rem;
}
#brand-g {
    color: red;
}
#brand-i {
    color: orange;
}
#brand-f {
    color: purple;
}
#brand-s {
    color: magenta;
}

img:hover {
    cursor: pointer;
}
#delete:hover {
    cursor: default;
    color: rgb(255, 55, 81);
}
#delete {
    color: rgb(240, 239, 239);
        /* font-size: .7rem; */
}
form {
    display: flex;
}

img {
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.card {
    background-color: black;
    width: 202px;
}
.card-body {
    padding: 5px;
    background-color: black;
    color: gray
}
p {
    margin: 0;
    padding: 0;
}
