.navbar-brand {
    font-family: 'Faster One', cursive;
    font-size: 1.5rem;
}
#brand-g {
    color: red;
}
#brand-i {
    color: orange;
}
#brand-f {
    color: purple;
}
#brand-s {
    color: magenta;
}
img {
    max-height: 200px;
}
img:hover {
    cursor: pointer;
}
#delete:hover {
    cursor: default;
    color: rgb(255, 55, 81);
}
#delete {
    color: rgb(240, 239, 239);
    font-size: .5rem;
}
